@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Customer
@{
    ViewData["Title"] = "Update Profile Picture";
}

<h1 class="display-4">Update Profile Picture</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProfilePicture" enctype="multipart/form-data">
            <hr/>
            <div class="form-group">
                <input name="file" type="file" accept="image/*">
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Profile</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}